html {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
 
body {
    margin: 2vh;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
}
 
/*Esto es para la parte del navegador*/
nav {
    padding: 1em;
}
 
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #EFC227;
    text-decoration: none;
    border-radius: 3px;
}
 
nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 3px;
}
 
nav li a:hover {
    background: tomato;
    color: white;
}
 
/*Esta es una clase para la imagen*/
img.logo {
    width: 160px;
    height: 45px;
}
 
/*Esta clase es para el boton de inicio de sesion*/
.sesion {
    border-color: #53B3CB;
    color: #53B3CB;
    background-color: white;
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    border-radius: 5px;
    position: relative;
    justify-content: center;
}  
 
.Headermain {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.mobile-btn {
    font-size:30px;
    cursor:pointer;
    font-weight:bold;
    float: right;
    padding: 0 0.7em 0 0;
}
 
/*Tablet*/
@media only screen and (max-width: 900px) {
    body {
        margin: 0% 12%;
    }
 
   
    .item1 {grid-area: logo;}
    .item2 {grid-area: menu;}
    .item3 {grid-area: boton;}
   
    .Headermain {
        display: grid;
        grid-template-areas:
        'logo boton'
        'menu menu';
        grid-gap: 10px;
        padding: 10px;
      }
   
    .sesion {
        width: 90px;    
    }
}
 
/*Movil*/
@media screen and (min-width: 560px) {
    body {
        margin: 0% 10%;box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
    }
 
    nav ul {
        display: flex;
        justify-content: center;
    }
 
    .sesion {
        width: 100px;
    }
   
}
 
.footer-distributed{
    background-color: #626267;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px;
}
 
.footer-I, .footer-C, .footer-D{
    display: inline-block;
    vertical-align: top;
}
 
/* Footer Izquierda */
 
.footer-I{
    width: 40%;
}
 
img.logo {
    width: 170px;
    height: 50px;  
}
 
/* Footer Centro */
 
.footer-C{
    width: 35%;
}
 
 
.footer-C p span{
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
 
.footer-C p a{
    color:  #5383d3;
    text-decoration: none;
}
 
img.maps {
    width: 30px;
    height: 30px;
}
 
img.telefono {
    width: 35px;
    height: 30px;
}
 
img.gmail {
    width: 35px;
    height: 30px;
}
 
div.Footermain {
    display: inline-flex;
}
 
div.Footermain p{
    display: block;
    margin: auto;
    align-items: flex-start;
}
 
/* Footer Derecha */
 
.footer-D{
    width: 20%;
}
 
.footer-logos{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer-logos span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
img.facebook {
    width: 35px;
    height: 30px;
    margin-top: 3px;
}
 
img.instagram {
    width: 33px;
    height: 30px;
    margin-top: 3px;
}
 
img.twitter {
    width: 33px;
    height: 30px;
    margin-top: 3px;
}
 
.footer-icons{
    margin-top: 25px;
}
 
.footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #53B3CB;
    border-radius: 2px;
 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
 
    margin-right: 3px;
    margin-bottom: 5px;
}
 
/*Tablet*/
 
@media only screen and (max-width: 900px){
   
    .footer-I {grid-area: I;}
    .footer-C {grid-area: C;}
    .footer-D {grid-area: D;}
    .footer-icons {grid-area: A;}
   
    .footer-distributed {
        font: bold 14px sans-serif;
        display: grid;
        grid-template-areas:
        'I D'
        'I D'
        'C D'
        'C A';
        grid-gap: 10px;
        padding: 10px;
    }
 
    .footer-I, .footer-C, .footer-D{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
 
    .footer-C i{
        margin-left: 0;
    }
 
 
}
 
/*Movil*/
 
@media only screen and (max-width: 560px) {
 
    .footer-distributed{
        font: bold 14px sans-serif;
        display: grid;
        grid-template-areas:
        'I'
        'C'
        'D'
        'A';
        grid-gap: 10px;
        padding: 10px;
    }
 
    .footer-I, .footer-C, .footer-D{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
 
    .footer-C i{
        margin-left: 0;
    }
 
}
 
.container2 {
    display: grid;
    /*margin-top: 0%;*/
    grid-template-areas:
    'quienes quienes quienes'
    'somos img';
    grid-template-rows: 2fr 5fr;
    grid-template-columns: 5fr;
    max-height: 55%;
}
.quienes {
    position: relative;           /*Aqui ponemos position absolute para que el texto se coloque encima de la imagen*/
    margin-left: 10%;
    right: 5%;
    margin-top: 3%;
    color: #626267;
    background-color: #EFC227B3;
    border-radius: 5px;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.somos {
    position: relative;           /*Aqui ponemos position absolute para que el texto se coloque encima de la imagen*/
    top: 5%;
    left: 5%;
    margin-right: 55%;
    color: white;
    background-color: #5c8001B3;
    border-radius: 5px;
    text-align: left;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    position: relative;
    display: grid;
    text-align: center;
    margin-left: 3%;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 6%;
}
.portada {
    width: 100%;
    height: 80%;
}
.quienes h2 {
    margin-left: 5%;
}
.somos h3 {
    margin-left: 5%;
    margin-right: 5%;
}
.div1 {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}
.div2 {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
 
}
.div3 {
    display: flex;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}
.div4 {
    display: flex;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
}
 
.imagen1 {
    width: 90%;
    height: 100%;
    /*grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;*/
    border-radius: 3%;
}
.imagen2 {
    width: 90%;
    height: 100%;
    /*grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;*/
    border-radius: 3%;
}
.imagen3 {
    width: 90%;
    height: 100%;
    /*grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;*/
    border-radius: 3%;
}
.imagen4 {
    width: 90%;
    height: 100%;
    /*grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;*/
    border-radius: 3%;
}
.carac1 {
    /*width: 14%;*/
    position: absolute;
    color: #5c8001;
    top: 30%;
    /*left: 11%;*/
    align-items: center;
    /*grid-column-start: 1;
    grid-column-end: 2;*/
    padding: 0.3%;
    font-size:x-small;
    background-color: #EFC227E6;
    border-radius: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.carac2 {
    /*width: 14%;*/
    position:absolute;
    color: #5c8001;
    top: 30%;
    /*left: 30%;*/
    align-items: center;
    /*grid-column-start: 2;
    grid-column-end: 3;*/
    padding: 0.3%;
    font-size:x-small;
    background-color: #EFC227E6;
    border-radius: 7%;
    /*height: 40%;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.carac3 {
    /*width: 14%;*/
    position: absolute;
    color: #5c8001;
    top: 30%;
    /*left: 13%;*/
    align-items: center;
    /*grid-column-start: 3;
    grid-column-end: 4;*/
    padding: 0.3%;
    font-size:x-small;
    background-color: #EFC227E6;
    border-radius: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.carac4 {
    /*width: 14%;*/
    position: absolute;
    color: #5c8001;
    top: 30%;
    /*left: 21%;*/
    align-items: center;
    /*grid-column-start: 4;
    grid-column-end: 5;*/
    padding: 0.3%;
    font-size:x-small ;
    background-color: #EFC227E6;
    border-radius: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
@media only screen and (max-width: 900px) {

    .container2 {
        display: grid;
        /*margin-top: 0%;*/
        /*grid-template-areas: 
        'quienes quienes quienes'
        'somos img';
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 5fr 5fr;*/
        max-height: 55%;
    }


    .quienes {
        margin-left: 0%;
        width: 90%;
        color: #626267;
        background-color: #EFC227B3;
        border-radius: 5px;
        border: none;
        text-align: left;
        font-size: 70%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .somos {
        top: 15%;
        margin-left: 0%;
        margin-right: 50%;
        color: white;
        background-color: #5c8001B3;
        border-radius: 5px;
        border: none;
        text-align: left;
        font-size: 70%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .portada {
        margin-left: 55%;
        margin-top: -25%;
    }
    .imgPortada {
        width: 105%;
        height: 105%;
    }
    .quienes h2 {
        margin-left: 3%;
    }
    .somos h3 {
        margin-left: 4%;
        margin-right: 4%;
    }
    .mostrar {
        background-color: #EFC227;
        border-radius: 3px;
        border: none;
    }
    .container {
        position: relative;
        display: grid;
        text-align: center;
        justify-content: center;
        margin-left: 0%;
        top: 8%;
    }

    .div1 {
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
    }
    .div2 {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 1;
    
    }
    .div3 {
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
    .div4 {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
    }
    .imagen1 {
        width: 80%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
        border-radius: 3%;
    }
    .imagen2 {
        width: 80%;
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 1;
        border-radius: 3%;
    }
    .imagen3 {
        width: 80%;
        height: 78%;
        margin-top: 13%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
        border-radius: 3%;
    }
    .imagen4 {
        width: 80%;
        height: 78%;
        margin-top: 13%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 2;
        border-radius: 3%;
    }
    .carac1 {
        position: absolute;
        color: #5c8001;
        top: 13%;
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;*/
        font-size: 60%;
        background-color: #EFC227E6;
        border-radius: 7px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac2 {
        /*width: 30%;*/
        position:absolute;
        color: #5c8001;
        top: 13%;
        /*left: 10%;*/
        align-items: center;
        /*grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 1;*/
        font-size: 60%;
        background-color: #EFC227E6;
        border-radius: 7px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac3 {
        /*width: 30%;*/
        position: absolute;
        color: #5c8001;
        top: 68%;
        /*left: 8%;*/
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;*/
        font-size: 60%;
        background-color: #EFC227E6;
        border-radius: 7px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac4 {
        /*width: 30%;*/
        position: absolute;
        color: #5c8001;
        top: 68%;
        /*left: 15%;*/
        align-items: center;
        /*grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 2;*/
        font-size: 60%;
        background-color: #EFC227E6;
        border-radius: 7px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
 
@media only screen and (max-width: 560px) {
    .container2 {
        display: grid;
        grid-template:
        'quienes'
        'somos';
        /*height: 50%;*/
        margin-top: 0%;
    }
    .quienes {
        /*margin-top: 70%;*/
        width: 90%;
        border-radius: 6px;
        /*grid-area: quienes;
        /*grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;*/
        color: #626267;
        background-color: #EFC227B3;
        font-size: 65%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
    .somos {
        top: 1%;
        /*grid-area: somos;*/
        /*grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;*/
        border-radius: 6px;
        margin-left: 0%;
        width: 90%;
        /*height: 40%;*/
        color: white;
        background-color: #5c8001B3;
        text-align: left;
        font-size: 70%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .somos h3 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .mostrar {
        border-radius: 8px;
        background-color: #EFC227;
        border: none;
        font-size: 110%;
        margin-bottom: 5%;
        margin-left: 3%;
    }
    .portada {
        display: none;
    }
    .imgPortada {
        display: none;
        width: 80%;
    }
    .container {
        position: relative;
        display: grid;
        text-align: center;
        justify-content:center;
        right: 2%;
        /*top: -6%;*/
    }
 
    .div1 {
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
    }
    .div2 {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 1;
   
    }
    .div3 {
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
    .div4 {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
    }
    .imagen1 {
        width: 90%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 23%;
    }
    .imagen2 {
        width: 90%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .imagen3 {
        width: 90%;
        height: 70%;
        /*margin-top: 23%;*/
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .imagen4 {
        width: 90%;
        height: 70%;
        /*margin-top: 23%;*/
        margin-bottom: 23%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 8;
    }
 
    .carac1 {
        /*width: 42%;*/
        position: absolute;
        color: #5c8001;
        top: 12%;
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;*/
        font-size: 50%;
        background-color: #EFC227E6;
        border-radius: 7%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac2 {
        /*width: 42%;*/
        position:absolute;
        color: #5c8001;
        top: 12%;
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;*/
        font-size: 50%;
        background-color: #EFC227E6;
        border-radius: 7%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac3 {
        /*width: 42%;*/
        position: absolute;
        color: #5c8001;
        top: 67%;
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 6;*/
        font-size: 50%;
        background-color: #EFC227E6;
        border-radius: 7%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .carac4 {
        /*width: 42%;*/
        position: absolute;
        color: #5c8001;
        top: 67%;
        align-items: center;
        /*grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 7;
        grid-row-end: 8;*/
        font-size: 50%;
        background-color: #EFC227E6;
        border-radius: 7%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
