
.burua{
    display: flex;
    justify-content: center;
}
.buscador{
    width: 200px;
}
.formulario{
    margin-top: 10px;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:center;
    margin-right: 40px;
}
.pasos{
    display: flex;
    justify-content: center;


}
.gordepauso{

background-color: #EFC227;
font-size: medium;
border-radius: 5px;
color: #626267;
height: 40px;
}
.return{
    margin-right: 20px;
    background-color: #53B3CB;
}
.fondo{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    background-color: #5CB001; 
   
}
.gorde{
    margin-left: 100px;
    width: 100px;
    background-color: #EFC227;
    font-size: medium;
    border-radius: 5px;
    color: #626267;
    height: 40px;
}
.boton{
    display: flex;
    justify-content: center;
}
.imagen{
    margin-left: 10px;
    margin-right: 10px;
}
.labelimg{
    margin-right: 250px;
}


@media screen and (max-width: 800px) {

}