* {
    box-sizing: border-box;
}


body {
    margin: 2vh;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
}

section {
    margin: 1vh;
}

main {
    margin: 40px;
}

section img {
    max-height: 8vh;
    width: 100%;
    object-fit: cover;
}

/*BOTONES*/

.botonVolver {
    background-color: #53B3CB;
    margin: 1vh;
}

button span {
    display: none;
}

.botonDesplegar,
.contenidoADesplegar {
    display: none;
}

#botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones button {
    margin-bottom: 1em;
}

/*Los botones con características específicas(ej: volver)
sobreescriben propiedades con selectores más específicos*/
button {
    background-color: #EFC227;
    text-transform: uppercase;
    color: #626267;
    font-size: 2vh;
    width: 50%;
    border-radius: 20px;
    border: none;
    padding: 1%;
}

#buscador {
    display: flex;
    max-width: initial;
    justify-self: stretch;
    font-size: 2vh;
    border-radius: 7px;
    box-shadow: 0 0 5pt 0 #626267;
    border: none;
    width: 100%;
}

/*MANUALES*/

#listaManuales {
    margin: 1vh 0% 1vh 0%;
    border-radius: 15px;
}

#listaManuales div {
    display: grid;
    grid-template-columns: auto 30%;
    color: white;
}

#listaManuales div:nth-child(odd) {
    background-color: #4F6E01;
}

#listaManuales div:nth-child(even) {
    background-color: #5C8001;
}

#listaManuales div button {
    display: none;
}

#listaManuales div p {
    margin: auto 1vh auto 1vh;
}

#listaManuales div p:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 2;
}

#listaManuales div p:nth-child(even) {
    display: none;
}

#listaManuales div img {
    max-width: 7vh;
    height: auto;
    object-fit: contain;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1vh auto 1vh auto;
}

#botonesInicioFinal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#botonesInicioFinal button {
    height: 3vh;
    width: 3vh;
    margin: 1vh;
    border-radius: 5px;
}

@media (min-width: 400px) {

    section img {
        max-height: 15vh;
    }

    button {
        font-size: 2vh;
        border-radius: 20px;
        border: none;
        padding: 1%;
        width: 20%;
    }

    /*Quitar la barra del buscador y poner
    la opción desplegable*/
    .botonDesplegar,
    .contenidoADesplegar {
        display: block;
    }

    #buscador {
        display: none;
    }

    .botonDesplegar {
        background-color: white;
        color: #626267;
        padding: 2px;
        font-size: 16px;
        border: 1px solid #626267;
        border-radius: 20%;
        height: 2em;
        width: 2em;
        cursor: pointer;
    }

    .contenidoADesplegar {
        display: none;
        position: absolute;
        /* Las propiedades 
        top, right, bottom, y  left especifican el desplazamiento 
        desde los bordes del bloque contenedor del elemento. */
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        border-radius: 10%;
    }

    .contenidoADesplegar a {
        background-color: #EFC227;
        color: #626267;
        padding: 1em 1em;
        text-decoration: none;
        display: block;
    }

    .contenidoADesplegar a:hover {
        background-color: #A8902D;
    }

    .show {
        display: block;
    }

    /*Al principio del div: botones
        en el centro: texto
        final: foto*/

    #listaManuales div {
        grid-template-columns: 15% 15% auto 20%;
        grid-template-rows: 50% 50%;
    }

    #listaManuales div button {
        display: block;
        margin: 1vh auto 1vh auto;
        width: max-content;
        height: 20px;
        padding: 5%;
        margin: auto;
    }

    #listaManuales div button:nth-child(1) {
        grid-area: 1/1/3/2;
    }

    #listaManuales div button:nth-child(2) {
        grid-area: 1/2/3/3;
    }

    #listaManuales div p {
        text-align: end;
    }

    #listaManuales div p:nth-child(odd) {
        grid-area: 1/3/2/4;
    }

    /*Mostrar categoria*/
    #listaManuales div p:nth-child(even) {
        display: block;
        grid-area: 2/3/3/4;
    }

    #listaManuales div img {
        grid-area: 1/4/3/5;
    }

}

@media (max-width: 430px) {
    #listaManuales div img {
        max-width: 6vh;
    }
}

@media (min-width: 500px) {
    body {
        margin: 0% 10%;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
    }

    #botones {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #botones button {
        font-size: 80%;
    }

    .botonVolver {
        background-color: #53B3CB;
        max-width: fit-content;
    }

}

@media (min-width: 860px) {
    body {
        margin: 0% 12%;
    }
}

@media (min-width: 920px) {

    /*Muestro el texto del botón volver*/
    button span {
        display: inline;
    }
}

@media (min-width: 1025px) {
    body {
        margin: 0% 15%;
    }
}