* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    margin: 2vh;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
}

section {
    margin: 1vh;
}

main {
    margin: 40px;
}

section img {
    max-height: 8vh;
    width: 100%;
    object-fit: cover;
}

/*BOTONES*/

.botonVolver {
    background-color: #53B3CB;
    margin: 1vh 0px 0px 0px;
}

button span {
    display: none;
}

.botonDesplegar,
.contenidoADesplegar {
    display: none;
}

.botonCategoria,
.contenidoCategoria {
    display: none;
}

#botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones button {
    margin-bottom: 1em;
}

/*Los botones con características específicas(ej: volver)
sobreescriben propiedades con selectores más específicos*/
button {
    background-color: #EFC227;
    text-transform: uppercase;
    color: #626267;
    font-size: 2vh;
    width: max-content;
    border-radius: 8px;
    border: none;
    padding: 1% 4%;
    cursor: pointer;
}

#buscador {
    display: flex;
    max-width: initial;
    justify-self: stretch;
    font-size: 2vh;
    border-radius: 7px;
    box-shadow: 0 0 5pt 0 #626267;
    border: none;
    width: 100%;
}
#idBotonBuscar{
    display: block;
    margin: 10px;
}
/*HERRAMIENTAS*/

#listaHerramientas {
    margin: 1vh 1vh;
    border-radius: 15px;
}

#listaHerramientas div {
    display: grid;
    grid-template-columns: 15% auto;
    color: white;
}

#listaHerramientas div:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
}

#listaHerramientas div:last-child {
    border-radius: 0px 0px 10px 10px;
}

#listaHerramientas div:nth-child(odd) {
    background-color: #4F6E01;
}

#listaHerramientas div:nth-child(even) {
    background-color: #5C8001;
}

#listaHerramientas div button {
    background-color: transparent;
    justify-content: center;
  /*  grid-column-start: 1;
    grid-column-end: 2;
    margin: 1vh;*/
}

/*No mostrar los el texto de los botones*/
#listaHerramientas div button p {
    display: none;
}

/*Mostrar los iconos editar y eliminar la imagen del manual*/
#listaHerramientas div button img {
    max-height: 2vh;
    max-width: 2vh;
    object-fit: contain;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1vh;
    /*
    max-height: 3vh;
    max-width: 3vh;
    margin: auto;*/
}

#listaHerramientas div button:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}

#listaHerramientas div button:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
}

#listaHerramientas div p {
    margin: auto 1vh auto 1vh;
}

#listaHerramientas div p:nth-child(even) {
    display: none;
  
}

#listaHerramientas div p:nth-child(odd) {
    font-size: small;
    grid-column-start: 2;
    grid-column-end: 3;
}



.fotoDelaHerramienta {
    display: none;
   /* max-width: 7vh;
    height: auto;
    object-fit: contain;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 1vh auto 1vh auto;*/
}

#botonesInicioFinal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#botonesInicioFinal button {
    height: 2em;
    width: 2em;
    margin: 1vh;
    border-radius: 5px;
    padding: 0%;
    align-content: center;
}

#botonesInicioFinal img {
    max-width: 3vh;
    height: auto;
}

@media (min-width: 450px) {

    body section:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    section img {
        max-height: 15vh;
    }

    #listaHerramientas div p:nth-child(odd) {
        font-size: medium;
    }

    #listaHerramientas div button img {
        max-height: 3vh;
        max-width: 3vh;
    }
   

    /*Quitar la barra del buscador y poner
    la opción desplegable*/
    .botonDesplegar,
    .contenidoADesplegar,
    .contenidoCategoria {
        display: block;
    }

    #buscador, 
    #idBotonBuscar{
        display: none;
    }

    .botonDesplegar{
        background-color: white;
        color: #626267;
        padding: 2px;
        border: 1px solid #626267;
        height: 2em;
    }

    .botonDesplegar {
        width: 2em;
    }

 

    .contenidoADesplegar,
    .contenidoCategoria {
        display: none;
        position: absolute;
        /* Las propiedades 
        top, right, bottom, y  left especifican el desplazamiento 
        desde los bordes del bloque contenedor del elemento. */
        margin-top: 10px;
        border: 2px solid #626267;
        /*background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        border-radius: 10%;*/
    }
    .contenidoADesplegar{
        width: 180px;
    }

    .contenidoCategoria {
        margin-left: 178px;
        width: 240px;
    } 

    #categoria:hover{
        position: relative;
    }
    .contenidoADesplegar,
    .contenidoCategoria {
        display: none;
        position: absolute;
        overflow: auto;
        margin-top: 10px;
        border: 2px solid #626267;
    }
    /*
    .contenidoADesplegar a,
    .contenidoCategoria a {
        background-color: #EFC227;
        color: #626267;
        padding: 1em 1em;
        text-decoration: none;
        display: block;
    }*/
    .contenidoADesplegar button,
    .contenidoCategoria button {
        border-radius: 0px;
        padding: 1em 1em;
        display: block;
        width: 100%;
    }

    .contenidoADesplegar button,
    .contenidoCategoria button {
        border-radius: 0px;
        padding: 1em 1em;
        display: block;
        width: 100%;
    }
    .contenidoCategoria button{
        background-color: #b9c1c4;
    }
    .contenidoADesplegar a:hover,
    .contenidoCategoria a:hover {
        background-color: #A8902D;
        color: white;
    }

    /*Permite ver las opciones desplegables*/
    .mostrarDesplegarOpciones,
    .mostrarDesplegarCategorias {
        cursor: pointer;
        display: block;
    }

    /*Permite ocultar las opciones desplegables*/
    .ocultarDesplegarOpciones,
    .ocultarDesplegarCategorias {
        display: none;
    }


    section a {
        text-transform: uppercase;
    }

    #botonesInicioFinal button {
        height: 6vh;
        width: 6vh;
    
    }

    #botonesInicioFinal img {
        max-width: 5vh;
    }
}


@media(min-width: 550px) {



    #listaHerramientas div button {
        background-color: #EFC227;
        margin: 5px;
        padding: 0%;
    }

    /*No mostrar los el texto de los botones*/
    #listaHerramientas div button p {
        display: none;
    }

    #listaHerramientas div button img {
        max-height: 4vh;
        max-width: 4vh;
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

@media (min-width: 800px) {
    body {
        margin: 0% 10%;
    }

    #botones {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /*Al principio del div: botones
        en el centro: texto
        final: foto*/

    #listaHerramientas div {
        grid-template-columns: 15% auto 20%;
        grid-template-rows: 50% 50%;
        min-height: 10vh;
    }

    #listaHerramientas div p:nth-child(even) {
        display: block;
    }
    #listaHerramientas div p {
        text-align: end;
    }

    #listaHerramientas div p:nth-child(even) {
        grid-area: 2/3/3/4;
    }

    /*Mostrar categoria*/
    #listaHerramientas div p:nth-child(odd) {
        grid-area: 1/3/2/4;
    }

    #listaHerramientas div img {
        border-radius: 8px;
        grid-area: 1/4/3/5;
    }

    #listaHerramientas div button {
        display: block;
        margin: 1vh auto 1vh auto;
        padding: 5%;
        margin: auto;
    }

    /*Ocultar icono de botón*/
    #listaHerramientas div button img {
        display: none
    }

    /*Mostrar texto de botón*/
    #listaHerramientas div button p {
        display: block
    }

    #listaHerramientas div button:nth-child(1) {
        grid-area: 1/1/3/2;
    }

    #listaHerramientas div button:nth-child(2) {
        grid-area: 1/2/3/3;
    }

    .fotoDelManual {
        display: block;
        max-height: 7vh;
        max-width: 7vh;
        object-fit: contain;
        align-self: center;
        margin: 1vh auto 1vh auto;
    }

}

@media (min-width: 860px) {
    body {
        margin: 0% 12%;
    }

    #botones button {
        font-size: 2.5vh;
    }
}

@media (min-width: 920px) {

    /*Muestro el texto del botón volver*/
    button span {
        display: inline;
    }

    #listaHerramientas div img {
        max-height: 10vh;
        max-width: 10vh;
    }
}

@media (min-width: 1025px) {
    body {
        margin: 0% 15%;
    }

    section img {
        max-height: 17vh;
    }

    button {
        width: max-content;
    }

}