form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  
input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    border-radius: 10px;
    position: relative;
    justify-content: center;
}

textarea {
    border-radius: 10px;
}

fieldset {
    border-radius: 10px;
    box-shadow: 2px 2px 10px
}

.Fondo{
    background-color: #efc227;
    opacity: 5;
}

img.imagenFondo {
    width: 1185px;
    height: 400px;
    
}

@media only screen and (max-width: 560px) {
    input {
        width: 50%;
        height: 30px;
        margin: 0.5rem;
        border-radius: 10px;
        position: relative;
        justify-content: center;
    }

    .tarea {
        margin: 0;
        width: 196px;
        height: 108px;
    }
}
