* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section,
main{
    margin: 1vh;
}

#textoAmarillo{
    max-height: 15vh;
    position: relative;
    background-color: #EFC227;
    display: flex;
    text-align: center;
}

#textoAmarillo > *{ 
    width: 100%;
}

#textoAmarillo p {
    font-weight: bold;
    font-size: 2vh;
    color: white;
    text-shadow: 0px 1px 3px #626267;
    position: absolute;
    top: 2vh;
}

button{
    text-transform: uppercase;
}

#textoAmarillo img{
    max-height: 15vh;
    object-fit: cover;
    opacity: 0.1;
}

button{
    background-color: #53B3CB;
    font-size: 2vh;
    width: max-content;
    border: none;
    cursor: pointer;
    margin: 1vh 0px 0px 0px;
    padding: 1% 4%;
}

button,
a{
    color: #626267;
}

button span {
    display: none;
}

a{
    text-decoration: none;
}

#contenedorBuscarNomHerramienta,
button
{
    border-radius: 8px;
}

#contenedorBuscarNomHerramienta{
    background-color: rgba(92, 128, 1, 0.8);
    padding: 2% 0%;
    min-height: 20vh;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
}

form input{
    width: 90%;
    font-size: 15px;
}

ul{
    margin-top: 0%;
    list-style-type: none;
    justify-self: center;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
}

.parrafoElementoListaImpar {
    background-color: rgba(185, 193, 196, 0.8);
    color: #626267;
}

.parrafoElementoListaPar {
    background-color: rgba(98, 98, 103, 0.8);
    color: #B9C1C4;
}

.parrafoElementoListaImpar,
.parrafoElementoListaPar{
    margin: 0%;
}

@media (min-width: 400px) {
    #textoAmarillo p {
        font-size: x-large;
    }
}

@media (min-width: 560px) {
    #textoAmarillo p {
        font-size: 3vh;
        top: 0;
    }

}

@media (min-width: 500px) {
    body {
        margin: 0% 10%;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
    }
}

@media (min-width: 860px) {
    body {
        margin: 0% 12%;
    }
}

@media (min-width: 1025px) {
    body {
        margin: 0% 15%;
    }
}

