.centrar {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
    height: 30px;
}

.br {
    opacity: 0;
    z-index: -1;
}

.label-img {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #efc227;
    border-radius: 5px;
    color: #626267;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    width: 30%;
}

.orden {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formula {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #efc227;
    text-transform: uppercase;
    font-size: medium;
    border-radius: 5px;
    color: #626267;
    height: 40px;
    border: none;
    cursor: pointer;
}

#botonVolver {
    margin-left: 1vh;
}

.Categoria {
    display: none;
}

@media only screen and (max-width: 400px) {
    .centrar {
        width: 50%;
    }
}