* {
    box-sizing: border-box;
}

body {
    margin: 2vh;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
}

section,
article {
    margin: 1vh;
}

img {
    object-fit: cover;
}

#amarilloMadre,
#amarilloMadre h2,
#amarilloMadre img,
.paso img {
    width: 100%;
}

#amarilloMadre,
#amarilloMadre img,
.paso img {
    max-height: 15vh;
}

#amarilloMadre {
    display: flex;
    align-self: stretch;
    position: relative;
    text-align: center;
    background-color: #EFC227;
}

#amarilloMadre img {
    opacity: 0.4;
}

#amarilloMadre h2 {
    position: absolute;
    color: white;
    text-shadow: 0px 1px 5px #626267;
}

@media(max-width: 350px) {
    h2 {
        font-size: large;
        padding: 10px;
    }
}

button,
img:not(#amarilloMadre img),
h3,
p,
#equipoNecesario,
#seguridad {
    border-radius: 8px;
}

button,
.paso h3,
h4 {
    text-transform: uppercase;
    text-align: center;
}

button {
    background-color: #53B3CB;
    color: #626267;
    font-size: 2vh;
    width: max-content;
    border: none;
    cursor: pointer;
}

#botonVolver {
    margin: 1vh;
    padding: 1% 4%;
}

#infoManual button,
#equipoNecesario button,
#seguridad button {
    margin-top: 1vh;
    padding: 0% 10px;
    background-color: #EFC227;
}

/*No mostrar todo el texto del botón volver*/
button span {
    display: none;
}

#infoManual img {
    width: 100%;
    max-height: 30%;
}

#infoManual p,
#equipoNecesario,
#seguridad {
    opacity: 0.8;
}

#infoManual p,
#equipoNecesario p,
#seguridad p {
    color: white;
}

#equipoNecesario h4,
#seguridad h4 {
    color: #626267;
    background-color: #EFC227;
    padding: 10px;
    margin-bottom: 1vh;
    border-radius: 8px 8px 0px 0px;
}

#infoManual p,
#seguridad {
    background-color: rgba(92, 128, 1, 0.5);
}

#equipoNecesario {
    background-color: rgba(49, 142, 165, 0.5);
}


hr {
    background-color: #4F6E01;
    height: 3px;
}

h3,
p {
    padding: 1vh;
}

h3,
p {
    color: #626267;
}

h3:not(.pasoTitulo) {
    text-align: center;
    background-color: white;
    box-shadow: 0 10px 10px -5px #626267;
}

.paso h3 {
    text-align: center;
}

p {
    margin: 0%;
}

/*Ocultar la raya amarilla del último paso*/

article div:last-of-type hr:last-of-type {
    display: none;
}

/*Ocultar el texto que se muestra cuado le damos a "mostrar"*/
#mas,
#masEquipo,
#masSeguridad {
    display: none;
}

@media (min-width: 600px) {

    #informacionInicial {
        display: inline-flexbox;
        flex-direction: column;
    }

    #infoManual {
        display: grid;
        row-gap: 1vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    #infoManual img {
        max-height: max-content;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #infoManual div {
        margin-left: 1vh;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #infoManual p {
        grid-area: 2/1/3/3;
    }


}

@media (min-width: 700px) {

    /*Mostrar todo el texto del botón volver*/
    button span {
        display: block;
    }

    #informacionInicial {
        background-color: orange;

    }

}