* {
    box-sizing: border-box;
}

body {
    margin: 2vh;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
}

section,
article {
    margin: 1vh;
}

img {
    object-fit: cover;
}

#amarilloMadre,
#amarilloMadre h2,
#amarilloMadre img,
.paso img {
    width: 100%;
}

#amarilloMadre,
#amarilloMadre img,
.paso img {
    max-height: 15vh;
}

#amarilloMadre {
    display: flex;
    align-self: stretch;
    position: relative;
    text-align: center;
    background-color: #EFC227;
}

#amarilloMadre img {
    opacity: 0.4;
}

#amarilloMadre h2 {
    position: absolute;
    color: white;
    text-shadow: 0px 1px 5px #626267;
}

@media(max-width: 350px) {
    h2 {
        font-size: large;
        padding: 10px;
    }
}

button,
img:not(#amarilloMadre img),
h3,
p {
    border-radius: 8px;
}

button {
    background-color: #53B3CB;
    color: #626267;
    text-transform: uppercase;
    font-size: 2vh;
    width: max-content;
    border: none;
    cursor: pointer;
}

#botonVolver {
    margin: 1vh;
    padding: 1% 4%;
}

#infoManual button {
    margin-top: 1vh;
    padding: 0% 10px ;
    background-color: #EFC227;
}

button span {
    display: none;
}

#infoManual img {
    width: 100%;
    max-height: 30%;
}

#infoManual p {
    background-color: #5C8001;
    color: white;
    opacity: 0.8;
}

hr {
    background-color: #A8902D;
    height: 3px;
}

h3,
p {
    padding: 1vh;
}

h3,
h4,
p {
    color: #626267;
}

h3:not(.pasoTitulo) {
    text-align: center;
    background-color: white;
    box-shadow: 0 10px 10px -5px #626267;
}

p {
    margin: 0%;
}

article div:last-of-type hr:last-of-type {
    display: none;
}

#mas {
    display: none;
}