* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    margin: 1vh;
}

.titulo {
    max-height: 15vh;
    position: relative;
    display: flex;
    text-align: center;
}

#amarillo {
    background-color: #EFC227;
}

#verde {
    margin-top: 2vh;
    background-color: #5C8001;
}

.titulo>* {
    width: 100%;
}

.titulo p {
    font-weight: bold;
    font-size: 3vh;
    color: white;
    text-shadow: 0px 1px 3px #626267;
    position: absolute;
    top: 15%;
}

img {
    object-fit: cover;
}

.titulo img {
    max-height: 15vh;
    opacity: 0.1;
}

button {
    text-transform: uppercase;
}

button {
    background-color: #53B3CB;
    font-size: 2vh;
    width: max-content;
    border: none;
    cursor: pointer;
    margin: 1vh 0px 0px 0px;
    padding: 1% 4%;
}

#botonVolver {
    margin-left: 1vh;
}

div button {
    background-color: #EFC227;
}

button,
a {
    color: #626267;
}

button span {
    display: none;
}

#siguientePaso {
    float: right;
}

a {
    text-decoration: none;
}

#contenedorBuscarNomHerramienta,
button,
main div:last-of-type {
    border-radius: 8px;
}

#contenedorBuscarNomHerramienta {
    background-color: rgba(92, 128, 1, 0.8);
    min-height: 10vh;
    padding: 2% 1%;
}

li p:hover {
    background-color: #EFC227;
    cursor: pointer;
}

ul {
    margin-top: 0%;
    list-style-type: none;
    justify-self: center;
    width: 100%;
    padding-left: 1%;
    padding-right: 2px;
}

li p {
    padding: 1%;
}

/* redordear los bordes superiores del input
y los bordes inferiores del último resultado */
#idBusquedaNombreHerramienta {
    border-radius: 8px 8px 0px 0px;
    cursor: text;
}

ul li:last-child p {
    border-radius: 0px 0px 8px 8px;
}

.parrafoElementoListaImpar {
    background-color: rgba(185, 193, 196, 0.6);
    color: black;
}

.parrafoElementoListaPar {
    background-color: rgba(98, 98, 103, 0.6);
    color: white;
}

.parrafoElementoListaImpar,
.parrafoElementoListaPar {
    margin: 0%;
}

#registrarHerramientas {
    background-color: rgba(168, 144, 45, 0.8);
    padding: 1vh;
    margin-top: 1vh;
}

#registrarHerramientas div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* elementos en el centro */
}

#registrarHerramientas img {
    display: none;
    max-height: 10vh;
    max-width: 20vh;
    justify-self: center;
}

#registrarHerramientas p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    color: #626267;
}

#bodyCrearManual2 h3,
#bodyCrearManual3 h3 {
    margin: 1vh;
}

/* FORMULARIOS */

body div form input,
body div form textarea {
    border-radius: 8px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    width: 100%;
}

form input,
li,
textarea {
    font-size: 15px;
}

textarea {
    height: 15vh;
}

/*No mostrar el input type file que busca fotos*/
.classInputFileIMG {
    display: none;
}

#bodyCrearManual2 form>*,
#bodyCrearManual3 form>*  {
    margin-bottom: 1vh;
}

label,
button {
    align-self: center;
}

.botonesOpcionesFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonesOpcionesFormulario button:nth-child(2),
.botonesOpcionesFormulario button:nth-child(3){
    color: white;
}

.botonesOpcionesFormulario button:nth-child(2) {
    background-color: #5C8001;
}

.botonesOpcionesFormulario button:nth-child(3){
    background-color: #626267;
}

#botonesOpcionesFormularioPaso button:nth-child(2){
    background-color: #626267;
}

@media (min-width: 350px) {
    #registrarHerramientas div button span {
        display: inline;
    }
}

@media(min-width: 400px) {

    /*     para colocar el bloque de registrar herramienta a la derecha
    display main flex y al bloque de registro aling-self flex-end */
    main {
        display: flex;
        flex-direction: column;
    }

    #registrarHerramientas {
        width: 37vh;
        align-self: flex-end;
    }

    #siguientePaso {
        align-self: flex-end;
    }

}

@media (min-width: 500px) {
    body {
        margin: 0% 10%;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 10px -4px #626267, -5px 0 10px -4px #626267;
    }

    #botonVolver span {
        display: inline;
    }

    #bodyCrearManual2 form,
    #bodyCrearManual3 form {
        padding: 1vh;
    }

}

@media (min-width: 600px) {
    form {
        width: 80%;
        margin: 0% 10%;
    }

    ul {
        padding-left: 10%;
        padding-right: 10%;
    }

    #registrarHerramientas p {
        display: inline;
        text-align: center;
    }
}

@media (min-width: 700px) {

    #bodyCrearManual2 div,
    #bodyCrearManual3 div {
        padding: 0vh;
    }

    #contenedorBuscarNomHerramienta {
        margin-top: 3vh;
    }

    #bodyCrearManual1 h3 {
        margin-top: 7vh;
    }

    form input,
    li,
    textarea {
        font-size: 18px;
    }

    #registrarHerramientas {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 45vh;
    }

    #registrarHerramientas img {
        display: block;
    }

}

@media (min-width: 860px) {
    body {
        margin: 0% 12%;
    }

    .botonesOpcionesFormulario {
        display: grid;
        grid-template-columns: 48% 52%;
        grid-template-rows: 50% 50%;
        place-items: center; /* centra los elementos en la celda */
    }

    .botonesOpcionesFormulario button:nth-child(3){
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .botonesOpcionesFormulario button{
        width: 90%;
    }
}

@media (min-width: 900px) {
    form {
        width: 70%;
        margin: 0% 15%;
    }

    ul {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1025px) {
    body {
        margin: 0% 15%;
    }

    .botonesOpcionesFormulario button{
        width: 25vh;
    }

}